
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Slab:wght@100&family=Orbitron&family=Raleway+Dots&family=Roboto:wght@300;500;700&family=Rubik+Maze&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body{
    font-family: "Roboto",sans-serif;

}
:root {
    --flipkart-lightBlue: #2874f0;
}
a{
    text-decoration: none;
    color: inherit;
}